*{
    box-sizing: border-box;
}

body{
    background-color: #cfdef3;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-wrap: wrap;
}

.titulo-p{
    color: blueviolet;
    font-size: 80px;
    text-align: center;
    font-weight: 70px;
}
h2{
    color: black;
    font-size: 40px;
}
p{
    font-size: 20px;
}

img{
    border-radius: 15px;
    width: 100%;
}

.exemplo{
    color: brown;
    text-align: justify;
    text-wrap: wrap;
    width: 75%;
    margin: auto;
    font-size: 30px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.print-section{
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}